[submodule "vendors/facebook-php-sdk"]
	path = vendors/facebook-php-sdk
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "vendors/url-scraper-php"]
	path = vendors/url-scraper-php
	url = https://github.com/ManUtopiK/url-scraper-php.git
